### National Transportation Safety Board Accident/Incident Data

In [47]:
import pandas as pd
import xml.etree.ElementTree as ET  #XML parsing (https://docs.python.org/2/library/xml.etree.elementtree.html)
import numpy as np
import re #regex
import matplotlib.pyplot as plt

%matplotlib inline

pd.set_option('display.max_columns', None)

In [48]:
#Load data
xmltree = ET.parse('AviationData.xml')

data = []
for el in xmltree.iterfind('./*'):
    for i in el.iterfind('*'):
        data.append(dict(i.items()))

#Convert list to dataframe
df = pd.DataFrame(data)

In [49]:
df.head()

,AccidentNumber,AirCarrier,AircraftCategory,AircraftDamage,AirportCode,AirportName,AmateurBuilt,BroadPhaseOfFlight,Country,EngineType,EventDate,EventId,FARDescription,InjurySeverity,InvestigationType,Latitude,Location,Longitude,Make,Model,NumberOfEngines,PublicationDate,PurposeOfFlight,RegistrationNumber,ReportStatus,Schedule,TotalFatalInjuries,TotalMinorInjuries,TotalSeriousInjuries,TotalUninjured,WeatherCondition
0,GAA15CA244,,,,,,,,United States,,09/01/2015,20150901X74304,,,Accident,,"Truckee, CA",,JOE SALOMONE,SUPER CUB SQ2,,,,N786AB,Preliminary,,,,,,
1,CEN15LA392,,Airplane,Substantial,IWS,WEST HOUSTON,No,LANDING,United States,,08/31/2015,20150901X92332,Part 91: General Aviation,Non-Fatal,Accident,29.809444,"Houston, TX",-95.668889,CESSNA,T240,,09/04/2015,Instructional,N452CS,Preliminary,,,,,2,VMC
2,GAA15CA246,,,,,,,,United States,,08/30/2015,20150902X61853,,,Accident,,"New Milford, CT",,CESSNA,170A,,,,N112RP,Preliminary,,,,,,
3,GAA15CA243,,,,,,,,United States,,08/30/2015,20150901X02521,,,Accident,,"New Enterprise, PA",,CESSNA,172C,,,,N8404X,Preliminary,,,,,,
4,GAA15CA242,,,,,,,,United States,,08/29/2015,20150831X61356,,,Accident,,"MIDLOTHIAN, TX",,CESSNA,305A,,,,N5255G,Preliminary,,,,,,

In [20]:
tree.getroot().tag

'{http://www.ntsb.gov}DATA'

In [19]:
tree.getroot().attrib

{}

In [62]:
def clean_xml_data(df):
    
    #Subset to US fatalities, since that is the primary interest of the NTSB data
    df_subset = df[df['Country'] == 'United States']
    
    #Replace blank string values with NaN
    df_copy = df_subset.replace('', np.nan)
    
    #Clean AirCarrier Names
    df_copy['AirCarrier'] = df_subset['AirCarrier'].str.title()  #convert to lowercase to deal with companies captalized differently
    #TODO: Use "DBA" name if available
    
    #Split States/Cities in Location Field
    df_copy['City'] = df_subset.Location.str.title().str.split(', ', expand=True)[0]
    df_copy['State'] = df_subset.Location.str.upper().str.split(', ', expand=True)[1]
    
    #Strip Number from Injury Serverity Field
    df_copy['fatalities'] = df_subset['InjurySeverity'].str.extract(r'(\d+)')
    
    #Extract variables from date field
    df_copy['year'] = pd.DatetimeIndex(df_subset['EventDate']).year
    df_copy['month'] = pd.DatetimeIndex(df_subset['EventDate']).month
    df_copy['EventDate'] = pd.to_datetime(df_subset['EventDate'])
    
    
    return(df_copy)
    
df_clean = clean_xml_data(df)
df_clean.head()

df_clean.to_csv('aviation_data.csv')

In [63]:
print('There are {} incidents in the data, with {} columns. The columns available are: {}'.format(df.shape[0], df.shape[1], df.columns.to_list()))

There are 77257 incidents in the data, with 32 columns. The columns available are: ['AccidentNumber', 'AirCarrier', 'AircraftCategory', 'AircraftDamage', 'AirportCode', 'AirportName', 'AmateurBuilt', 'BroadPhaseOfFlight', 'Country', 'EngineType', 'EventDate', 'EventId', 'FARDescription', 'InjurySeverity', 'InvestigationType', 'Latitude', 'Location', 'Longitude', 'Make', 'Model', 'NumberOfEngines', 'PublicationDate', 'PurposeOfFlight', 'RegistrationNumber', 'ReportStatus', 'Schedule', 'TotalFatalInjuries', 'TotalMinorInjuries', 'TotalSeriousInjuries', 'TotalUninjured', 'WeatherCondition', 'year']

In [64]:
#Count missing values 
df_clean.isna().sum()

AccidentNumber              0
AirCarrier                  0
AircraftCategory        58199
AircraftDamage           1856
AirportCode             30266
AirportName             26618
AmateurBuilt              273
BroadPhaseOfFlight       2815
Country                     0
EngineType               1143
EventDate                   2
EventId                     0
FARDescription          58053
InjurySeverity            106
InvestigationType           0
Latitude                50507
Location                   33
Longitude               50517
Make                       23
Model                      40
NumberOfEngines          1507
PublicationDate         12462
PurposeOfFlight          2001
RegistrationNumber        148
ReportStatus                0
Schedule                63612
TotalFatalInjuries      19945
TotalMinorInjuries      19904
TotalSeriousInjuries    21026
TotalUninjured           9389
WeatherCondition          373
year                        2
City                        0
State                      33
fatalities              59579
month                       2
dtype: int64

In [136]:
df_clean.describe()

,AccidentNumber,AirCarrier,AircraftCategory,AircraftDamage,AirportCode,AirportName,AmateurBuilt,BroadPhaseOfFlight,Country,EngineType,...,RegistrationNumber,ReportStatus,Schedule,TotalFatalInjuries,TotalMinorInjuries,TotalSeriousInjuries,TotalUninjured,WeatherCondition,City,State
count,77257,77257,16520,74873,43477,47331,76603,71030,76747,74048,...,74501,77257,11379,55791,54733,53744,65862,75268,77257,76671
unique,77257,2720,12,3,9488,22283,2,12,173,14,...,67492,4,3,117,62,40,363,3,14542,329
top,LAX86LA318,,Airplane,Substantial,NONE,N/A,No,LANDING,United States,Reciprocating,...,NONE,Probable Cause,UNK,0,0,0,1,VMC,Anchorage,CA
freq,1,73439,14210,55420,1457,1210,69198,18553,73076,63016,...,363,72264,4099,40363,40342,42955,22029,68764,501,8027

In [65]:
df_clean['EventDate'].describe()

count                   73074
unique                  12089
top       1984-06-30 00:00:00
freq                       25
first     1948-10-24 00:00:00
last      2015-09-01 00:00:00
Name: EventDate, dtype: object

In [63]:
for col in df.columns:
    
    print(df_clean[col].value_counts()[0:20])

LAX86LA318     1
SEA02LA170     1
CEN13CA144     1
CEN15LA233     1
BFO93LA086     1
LAX03LA112     1
DEN00FA086     1
NYC91LA054     1
LAX00LA167     1
ANC98LA130     1
MKC90LA021     1
LAX98LA302A    1
FTW02LA074     1
SEA05LA065     1
ERA12FA175     1
ATL83LA162     1
FTW89LA056     1
CHI93LA064     1
ERA10LA184     1
LAX91FA344     1
Name: AccidentNumber, dtype: int64
UNITED AIRLINES                           49
AMERICAN AIRLINES                         41
CONTINENTAL AIRLINES                      25
USAIR                                     24
DELTA AIR LINES INC                       23
AMERICAN AIRLINES, INC.                   22
SOUTHWEST AIRLINES CO                     21
CONTINENTAL AIRLINES, INC.                19
UNITED AIR LINES INC                      14
AMERICAN AIRLINES INC                     12
SIMMONS AIRLINES (DBA: AMERICAN EAGLE)    12
US AIRWAYS INC                            12
TRANS WORLD AIRLINES                      11
DELTA AIRLINES                            11
United Airlines                           11
NORTHWEST AIRLINES                        10
(DBA: AMERICAN AIRLINES)                  10
DELTA AIR LINES                           10
(DBA: [EMS])                              10
(DBA: UNITED EXPRESS)                     10
Name: AirCarrier, dtype: int64
Airplane             14210
Helicopter            1775
Glider                 261
Balloon                120
Gyrocraft               62
Unknown                 40
Weight-Shift            20
Ultralight              18
Powered Parachute       10
Powered-Lift             2
Blimp                    1
Rocket                   1
Name: AircraftCategory, dtype: int64
Substantial    55420
Destroyed      17003
Minor           2450
Name: AircraftDamage, dtype: int64
NONE    1457
PVT      341
ORD      144
APA      140
MRI      124
DEN      114
OSH       90
FFZ       86
BJC       86
VNY       85
LGB       81
DVT       77
PRC       75
N/A       75
VGT       73
MIA       72
LAX       71
CNO       70
LAL       70
None      67
Name: AirportCode, dtype: int64
N/A                  1210
PRIVATE               215
Private               165
NONE                  140
Private Airstrip      129
PRIVATE STRIP         111
PRIVATE AIRSTRIP       90
None                   84
MUNICIPAL              78
MERRILL FIELD          75
VAN NUYS               70
UNKNOWN                69
CENTENNIAL             66
CHINO                  47
BIRCHWOOD              46
FALCON FIELD           45
SEDONA                 44
MERRILL                43
ORLANDO EXECUTIVE      41
PALO ALTO              41
Name: AirportName, dtype: int64
No     69198
Yes     7405
Name: AmateurBuilt, dtype: int64
LANDING        18553
TAKEOFF        14740
CRUISE         10597
MANEUVERING     9499
APPROACH        7510
TAXI            2260
CLIMB           2225
DESCENT         2152
GO-AROUND       1570
STANDING        1163
UNKNOWN          614
OTHER            147
Name: BroadPhaseOfFlight, dtype: int64
United States         73076
Canada                  225
Mexico                  197
Brazil                  191
United Kingdom          188
Bahamas                 188
Australia               178
France                  153
Germany                 143
Colombia                113
Spain                    91
Venezuela                85
Italy                    82
Japan                    75
Argentina                74
Ecuador                  68
Indonesia                67
Peru                     59
Switzerland              53
Dominican Republic       52
Name: Country, dtype: int64
Reciprocating       63016
Turbo Shaft          3204
Turbo Prop           2934
Turbo Fan            2147
Unknown              2063
Turbo Jet             669
None                    5
TF, TJ                  3
REC, TJ, TJ             2
Hybrid Rocket           1
TF, TJ, TJ              1
TJ, REC, REC, TJ        1
REC, TJ, REC, TJ        1
Electric                1
Name: EngineType, dtype: int64
06/30/1984    25
05/16/1982    25
07/08/2000    25
06/05/1983    24
05/17/1986    24
08/05/1983    24
08/25/1984    24
08/07/1988    23
07/21/2001    23
06/16/2001    23
10/03/1982    23
05/28/1983    23
07/09/1982    23
05/01/1982    23
09/01/1984    22
05/27/1984    22
10/01/1983    22
04/25/1982    22
05/30/1983    22
08/06/1983    22
Name: EventDate, dtype: int64
20001212X19172    3
20100204X45658    3
20101022X34140    3
20001214X45071    3
20041019X01650    2
20070801X01080    2
20100606X02721    2
20020917X04585    2
20080130X00124    2
20090902X21452    2
20010828X01789    2
20001213X32977    2
20001212X17484    2
20001208X05358    2
20001212X16624    2
20001211X11355    2
20020917X04592    2
20001212X18663    2
20001212X21784    2
20001212X20687    2
Name: EventId, dtype: int64
Part 91: General Aviation            12934
Part 137: Agricultural                 810
Non-U.S., Non-Commercial               677
Part 135: Air Taxi & Commuter          643
Non-U.S., Commercial                   489
Part 121: Air Carrier                  477
Part 129: Foreign                      185
Unknown                                172
Public Use                             158
Part 133: Rotorcraft Ext. Load          87
Part 91 Subpart K: Fractional           13
Part 125: 20+ Pax,6000+ lbs              7
Armed Forces                             6
Part 103: Ultralight                     5
Part 437: Commercial Space Flight        1
Part 91F: Special Flt Ops.               1
Name: FARDescription, dtype: int64
Non-Fatal      58499
Fatal(1)        7598
Fatal(2)        4494
Incident        3050
Fatal(3)        1407
Fatal(4)         977
Fatal(5)         301
Unavailable      193
Fatal(6)         190
Fatal(7)          79
Fatal(8)          64
Fatal(10)         40
Fatal(9)          35
Fatal(14)         17
Fatal(11)         17
Fatal(13)         11
Fatal(12)         10
Fatal(20)          6
Fatal(15)          5
Fatal(17)          5
Name: InjurySeverity, dtype: int64
Accident    74207
Incident     3050
Name: InvestigationType, dtype: int64
33.460833    26
32.826111    23
33.688333    21
61.213611    20
32.815556    19
34.654444    19
26.197222    17
33.269167    17
43.984444    17
40.850000    16
34.848611    15
37.332778    15
40.777223    15
33.942500    15
39.570278    15
33.871945    15
33.875556    15
39.570000    14
33.688055    14
39.320000    14
Name: Latitude, dtype: int64
ANCHORAGE, AK       372
MIAMI, FL           185
CHICAGO, IL         169
ALBUQUERQUE, NM     164
HOUSTON, TX         155
FAIRBANKS, AK       138
Anchorage, AK       129
ORLANDO, FL         114
ENGLEWOOD, CO       107
TUCSON, AZ          107
PHOENIX, AZ         100
JACKSONVILLE, FL     98
ATLANTA, GA          93
LAS VEGAS, NV        93
DENVER, CO           93
RENO, NV             92
Houston, TX          90
LOS ANGELES, CA      89
Phoenix, AZ          89
SEATTLE, WA          87
Name: Location, dtype: int64
-112.082500    31
-111.728334    27
-111.811111    22
-104.673056    21
-149.844444    21
-88.556944     19
-117.139444    18
-116.972500    18
-106.609167    17
-122.158889    15
-121.819723    15
-73.872500     15
-80.170556     15
-112.295277    14
-81.058056     14
-82.018611     14
-121.820278    14
-149.996389    14
-111.992777    14
-95.552778     13
Name: Longitude, dtype: int64
CESSNA         16609
PIPER           9179
Cessna          7739
Piper           4096
BEECH           3030
Beech           1748
BELL            1515
BOEING          1286
GRUMMAN          903
Bell             887
Boeing           777
MOONEY           743
BELLANCA         681
HUGHES           564
Robinson         526
ROBINSON         453
Mooney           444
SCHWEIZER        429
AERONCA          390
Air Tractor      364
Name: Make, dtype: int64
152          2251
172          1164
172N         1121
PA-28-140     900
172M          771
150           701
172P          666
150M          578
PA-18         572
PA-28-161     558
PA-28-180     554
PA-18-150     549
180           519
PA-28-181     518
206B          491
PA-38-112     464
G-164A        459
150L          445
182           443
G-164B        418
Name: Model, dtype: int64
1     61465
2      9854
0      1132
3       477
4       406
18        1
24        1
Name: NumberOfEngines, dtype: int64
03/31/1993    454
11/25/2003    396
02/15/2001    377
09/13/2005    326
09/14/1993    312
11/09/1992    282
10/27/2005    277
03/02/2001    277
02/16/2001    269
06/22/2000    266
12/14/1992    266
03/10/1988    260
06/30/1993    258
12/28/2004    257
05/26/1993    249
03/02/2004    247
12/20/2010    242
09/30/2003    239
09/30/1991    238
09/28/1992    237
Name: PublicationDate, dtype: int64
Personal                     43360
Instructional                 9272
Unknown                       6764
Aerial Application            4288
Business                      3832
Positioning                   1487
Other Work Use                1094
Ferry                          768
Public Use                     707
Aerial Observation             645
Executive/Corporate            509
Flight Test                    292
Air Race/Show                  133
Skydiving                      106
Public Aircraft - Federal       83
Banner Tow                      77
External Load                   75
Public Aircraft - State         51
Public Aircraft - Local         49
Glider Tow                      40
Name: PurposeOfFlight, dtype: int64
NONE      363
None       99
USAF        9
N20752      8
UNK         7
N121CC      6
N53893      6
N11VH       6
N4101E      6
N8402K      6
N93067      5
N8597D      5
N420SB      5
N5246E      5
N3125N      5
N75LE       5
N32133      5
N9957J      5
USN         5
N8653Y      5
Name: RegistrationNumber, dtype: int64
Probable Cause    72264
Foreign            3600
Preliminary        1144
Factual             249
Name: ReportStatus, dtype: int64
UNK     4099
NSCH    3814
SCHD    3466
Name: Schedule, dtype: int64
0     40363
1      7615
2      4495
3      1408
4       977
5       301
6       190
7        79
8        64
10       40
9        35
14       17
11       17
13       11
12       10
20        6
18        5
17        5
19        5
15        5
Name: TotalFatalInjuries, dtype: int64
0     40342
1      9267
2      3482
3       783
4       381
5       133
6        72
7        55
9        26
8        23
13       16
10       14
11       11
12       11
14       11
17        7
25        6
24        5
18        5
20        5
Name: TotalMinorInjuries, dtype: int64
0     42955
1      7794
2      2129
3       493
4       200
5        60
6        24
7        21
10        7
9         7
13        6
8         5
26        4
50        3
17        3
12        3
14        2
28        2
59        2
15        2
Name: TotalSeriousInjuries, dtype: int64
1     22029
0     19216
2     13935
3      3852
4      2468
5       801
6       443
7       249
8       139
9       106
10       93
11       54
12       47
16       38
13       38
15       33
17       30
19       27
53       27
14       27
Name: TotalUninjured, dtype: int64
VMC    68764
IMC     5580
UNK      924
Name: WeatherCondition, dtype: int64

In [ ]:
#Plot number of incidents over time